body {
    padding-top: 51px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.index-wrapper {
    background: url(../images/busy_street.jpg) no-repeat center center fixed;
    background-size: cover;
}
.full-page {
    height: 100vh;
}
.full-page .hello {
    padding-top: 20vh;
    color: white;
}
.index-2 {
    background-color: white;
    padding-top: 15vh;
    height: 50vh;
}
.align-center {
    text-align: center;
}
.index-2 h1 {
    font-size: 108px;
}
.index-2 p {
    font-size: 22px;
}
.index-3 {
    height: 50vh;
}
