{% extends "base.html" %} {% block extra_body %}
<div class="index-wrapper">
    <div class="full-page index-1">
        <div class="hello col-sm-5 col-sm-offset-7">
            <h1>A Parking App</h1>
        </div>
    </div>
    <div class="index-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 align-center">
                    <h1><i class="fa fa-automobile"></i></h1>
                    <p>Help you find a parking spot</p>
                </div>
                <div class="col-sm-4 align-center">
                    <h1><i class="fa fa-money"></i></h1>
                    <p>A free solution</p>
                </div>
                <div class="col-sm-4 align-center">
                    <h1><i class="fa fa-map-marker"></i></h1>
                    <p>Remember the location of your car</p>
                </div>
            </div>
        </div>
    </div>
    <div class="index-3">
        jiji
    </div>
</div>

{% endblock extra_body %}
