{% extends 'base.html' %}
{% block container %}
<br/>
<div class="col-sm-8 col-sm-offset-2">
    <form action="" method="post" role="form" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputLatitude" class="col-sm-2 control-label">Latitude</label>
            <div class="col-sm-10">
                <input name="latitude" type="text" class="form-control" id="inputLatitude" placeholder="Latitude">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLongitude" class="col-sm-2 control-label">Longitude</label>
            <div class="col-sm-10">
                <input name="longitude" type="text" class="form-control" id="inputLongitude" placeholder="Longitude">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDateTime" class="col-sm-2 control-label">Date Time</label>
            <div class="col-sm-10">
                <input name="datetime" type="text" class="form-control" id="inputDatetime" placeholder="yyyy-mm-dd H:i:s">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Search</button>
                <span class="pull-right"> Try 40.878732, -73.8642857; 40.645704, -74.005792; 40.729513,-73.996461</span>
            </div>
        </div>
    </form>
</div>
<div class="col-md-12">
    {% if res %}
    <h1>{{ res|length }} results</h1>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Main street</th>
                <th>From</th>
                <th>To</th>
                <th>Week day</th>
                <th>Time</th>
            </tr>
        </thead>
        {% for row in res %}
            <tr>
                <td>{{ row.location }}</td>
                <td>{{ row.from.0 }}</td>
                <td>{{ row.to.0 }}</td>
                <td>{{ row.datetime.days }}</td>
                <td>{{ row.datetime.hours.0|time:'H:i'}} - {{ row.datetime.hours.1|time:'H:i' }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock container %}
